.idea/
.tox/
vscode/
.moc/
.pytest_cache/
tools/
openshift/
.venv/
api-ref/
doc/
reg_log.log
.travis-ci/
python_adjutant.egg-info/
adjutant.log
docker-compose.yaml
conf/
playbooks/
ssh/
.github/
.env
.git
